@use './variables';
/* Nosotros */
.container_div{
    width: variables.$width100;
    .img_cajonp{
        width: variables.$width100;
        height: 800px;
    }
}
.all--section{
    margin-top: 10px;
    font-size: variables.$rem2;
}

