/* CONTACTO RESPONSIVE (1200px) */
@media screen and (max-width: 1200px){
    .p--contacto{
        font-size: 25px;
    }
}
/* CONTACTO RESPONSIVE (992px) */
@media screen and (max-width: 992px){
    .p--contacto{
        font-size: 20px;
    }
}
/* CONTACTO RESPONSIVE (768px) */
@media screen and (max-width:768px){
    .p--contacto{
        font-size: 15px;
    }
}