@use './variables';
/* PRODUCTOS RESPONSIVE (1200px) */

@media screen and (max-width:1200px) {
.card-title{
    text-align: variables.$textaling;
}
}
/* PRODUCTOS RESPONSIVE(992px) */

@media screen and (max-width:992px) {
.card-title{
    text-align: variables.$textaling;
}    

.card-body{
    padding-top: 150px;
    text-align: variables.$textaling;
}
.div--card{
    width: 100%;
    display: flex;
    justify-content: variables.$textaling;
    .card-img-top{
        width: 200px;
        height: 200px;
    }
}
}

/* PRODUCTOS RESPONSIVE (768px) */
@media screen and (max-width:768px) {
h2{
    font-size: 2em;
    }
.card-title{
    text-align: variables.$textaling;

.card-body{
    padding-top: 200px;
    text-align: variables.$textaling;
}
.div--card{
    width: variables.$width100;
    display: flex;
    justify-content: center;
    .card-img-top{
        width: 250px;
        height: 250px;
    }
    }
}
}