@use'./variables';
/* section 3 */
.img--container{
    display: flex;
    justify-content: center;
    height: variables.$height-100;
    list-style: none;
    .img--section{
        margin-top: variables.$rem2;
        margin-left: variables.$rem2;
        .oreo{
            height: variables.$height-section3;
            width: variables.$width-section3;
        }
        
        .ferrero{
            height: variables.$height-section3;
            width: variables.$width-section3;
        }
        
        .kinder{
            height: variables.$height-section3;
            width: variables.$width-section3;
        }
        
        .sweet{
            height: variables.$height-section3;
            width:  variables.$width-section3;
        }
    }
    }
        

